<section class="hero">

  <!-- 🎥 VIDEO ADD HERE -->
  <video autoplay loop playsinline class="hero-video"muted>
    <source src="assets/videos/v2.mp4" type="video/mp4">
  </video>

  <div class="overlay"></div>

  <!-- LOGO -->
  <img src="assets/images/logo.jpeg" class="hero-logo" alt="logo">

  <div class="hero-content">
    <h1>
      Complete Construction & Interior Solutions Under One Roof
    </h1>

    <p>
      We design, build, and transform spaces with precision, quality, and modern aesthetics — from civil construction to premium interiors and PEB structures.
    </p>

    <div class="hero-buttons">
      <a routerLink="/contact" class="btn primary">Get a Quote</a>
      <a routerLink="/projects" class="btn secondary">View Projects</a>
    </div>
  </div>

</section>