.project-card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

/* IMAGE */
.project-card img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

/* OVERLAY */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: rgba(15, 23, 42, 0.8);
  color: white;
  transform: translateY(100%);
  transition: 0.4s;
}

/* HOVER EFFECT */
.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .overlay {
  transform: translateY(0);
}
.project-card {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

/* IMAGE */
.project-card img,.project-card video  {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

/* OVERLAY */
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: rgba(15, 23, 42, 0.8);
  color: white;
  transform: translateY(100%);
  transition: 0.4s;
}

/* HOVER EFFECT */
.project-card:hover img {
  transform: scale(1.1);
}

.project-card:hover .overlay {
  transform: translateY(0);
}

